.user-image-small {
  width: 30px;
  margin: 8px
}

.kvp-space-button{
  margin: 0 8px;
}

.icons-small {
  font-size: 20px !important;
  margin: 8px
}

.font-small {
  font-size: 10px !important;
}

.colpaddingmod {
  padding: 1px 1px !important;
}

.rowmarginmod {
  margin: 0px !important;
}

.messages-scroll { 
  height: 100px; 
  overflow-y: scroll; 
}

/* width */
.messages-scroll::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.messages-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
 
/* Handle */
.messages-scroll::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
.messages-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
